    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html,
    body {
      height: 100%;
      width: 100%;
    }

    body {
      display: flex;
      font-family: 'Inter', sans-serif;
      background: #000;
      color: #fff;
      overflow: hidden;
    }

    ::selection {
      background: #fff;
      color: #000;
    }

    ::-moz-selection {
      background: #fff;
      color: #000;
    }


    .sidebar {
      width: 200px;
      background: #000;
      border-right: 1px solid #222;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem 0;
      overflow-y: auto;
    }

    .main {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      overflow-y: auto;
    }

    .sidebar img {
      height: 110px;
      margin-bottom: 1rem;
    }

    .nav-back {
      display: flex;
      align-self: flex-start;
      color: #888;
      text-decoration: none;
      font-size: 1rem;
      margin: 1rem 0 1rem 2rem;
      transition: color .2s;
    }

    .nav-back:hover {
      color: #fff;
      font-weight: 600;
    }

    .nav-back .back-arrow {
      margin-right: .8ch;
      transition: transform .1s;
    }

    .nav-back:hover .back-arrow {
      transform: translateX(-5px);
    }

    .nav-group {
      width: 100%;
      text-align: left;
      padding: 0 2rem;
    }

    .nav-group+.nav-group {
      margin-top: 2rem
    }

    .nav-group-title {
      color: #555;
      font-size: .75rem;
      text-transform: uppercase;
      margin-bottom: .5rem;
    }

    .sidebar .nav-link {
      display: block;
      padding: .5rem 1rem;
      margin: 0.15rem .5rem;
      border-radius: 6px;
      color: #ccc;
      text-decoration: none;
      font-weight: 500;
      transition: background .2s, color .2s;
    }

    .sidebar .nav-link:hover {
      background: #222;
      color: #aad227;
    }

    .sidebar .nav-link.active {
      background: #222;
      color: #aad227;
    }

    .level-header {
      text-align: center;
      opacity: 0;
      margin-bottom: 1rem;
    }

    .level-header.animate {
      animation: fadeInDown 1.5s ease forwards;
    }

    .level-header h1 {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.2;
    }

    .level-cats {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-bottom: 1rem;
      opacity: 0;
    }

    .level-cats.animate {
      animation: fadeInDown 1s ease forwards;
    }

    .level-cats .nav-link {
      font-size: 1rem;
      color: #888;
      text-decoration: none;
      transition: color .2s;
    }

    .level-cats .nav-link:hover,
    .level-cats .nav-link.active {
      color: white;
    }

    .content-area {
      flex: 1;
      border-radius: 8px;
      padding: 1.5rem;
      overflow-y: auto;
      position: relative;
    }

    .cards-grid {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1.5rem 0;
      opacity: 0;

    }

    .cards-grid.animate {
      animation: fadeInDown 1.5s ease forwards;
    }

    .card {
      display: grid;
      grid-template-columns: 180px 1fr;
      column-gap: 2rem;
      padding: 1.5rem 0;
      border-bottom: 1px solid #333;
    }

    .card:first-child {
      padding-top: 0;
    }

    .card:last-child {
      border-bottom: none;
    }

    .card:hover {
      border-bottom-color: #fff;
    }

    .card-meta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 0.9rem;
      color: #fff;
    }

    .card-meta .date {
      margin-top: 0.25rem;
      color: #555;
      font-size: 0.85rem;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .card-title {
      font-weight: 600;
      margin-bottom: 0.25rem;
      color: #aad227;
      font-size: 1.1rem;
    }

    .card-text {
      color: #ccc;
      font-size: 0.9rem;
      line-height: 1.4;
    }

    @keyframes fadeInDown {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }